.hamburger { position: relative; margin: 0; padding: 13px 14px 13px 14px; border: none 0; background: none; text-transform: uppercase; text-align: left; cursor: pointer; transition: color 0.2s ease-in-out; }

.hamburger, .hamburger * { box-sizing: border-box; }

.hamburger:before, .hamburger:after, .hamburger *:before, .hamburger *:after { box-sizing: border-box; }

.hamburger-icon { margin-right: 0; }

.hamburger-icon, .hamburger-icon:after, .hamburger-icon:before { height: 2px; border-style: solid; border-width: 0 30px 0 0; border-radius: 1px; }

.hamburger-icon { position: relative; top: -4px; display: inline-block; width: 30px; will-change: background-color; transition: border-color 0.2s ease-in-out 0.2s; }

.hamburger-icon:before, .hamburger-icon:after { content: ''; position: absolute; transform-origin: center center; will-change: top, bottom, transform; transition: top 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out; }

.hamburger-icon:before { top: -9px; }

.hamburger-icon:after { bottom: -9px; }

.hamburger:focus { outline: none; }

.hamburger--on .hamburger-icon { border-color: rgba(255, 255, 255, 0); }

.hamburger--on .hamburger-icon:before, .hamburger--on .hamburger-icon:after { transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s; }

.hamburger--on .hamburger-icon:before { top: 0; transform: rotate(-45deg); }

.hamburger--on .hamburger-icon:after { bottom: 0; transform: rotate(45deg); }
